<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="https://storage.googleapis.com/jkingyens/sessions_app.png">
  </head>
  <body>
    <img src="https://storage.googleapis.com/jkingyens/sessions_app.png" width=64 height=64>
    <a href="/me/challenges/create"><h3>Create Challenge</h3></a>
    <a href="/me/challenges"><h3>List My Challenges</h3></a>
    <h3>Recent Challenges</h3>
  </body>
</html>